# Copyright (c) Abstract Machines
# SPDX-License-Identifier: Apache-2.0

# build dirs
build

# tools
tools/e2e/e2e
tools/mqtt-bench/mqtt-bench
tools/provision/provision
tools/provision/mgconn.toml

# coverage files
coverage
*.test

# Schemathesis
.hypothesis

# Ignore Openbao data directory as it contains runtime-generated data
docker/addons/certs/openbao/

# Ignore SeaweedFS data directory as it contains runtime-generated data
docker/data/*
