%%-*- mode: erlang -*-
{deps, [
        {vernemq_dev, {git, "git://github.com/erlio/vernemq_dev.git", {branch, "master"}}},
        {teacup_nats, "0.4.1"},
        {gpb, "4.9.0"},
        {grpc_client, {git, "https://github.com/galaxie/grpc_client", {branch, "fix/package_name_duplicates"}}},
        {poolboy, "1.5.2"},
        {eredis, "1.2.0"}
]}.
