%%-*- mode: erlang -*-
{deps, [
        {vernemq_dev, {git, "git://github.com/erlio/vernemq_dev.git", {branch, "master"}}},
        {teacup_nats, "0.4.1"},
        {gpb, "4.10.6"},
        {grpcbox, "0.11.0"},
        {poolboy, "1.5.2"},
        {eredis, "1.2.0"}
]}.

{grpc, [{protos, "../.."},
        {out_dir, "src/protos"},
        {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.