To: {{range $index, $v := .To}}{{if $index}},{{end}}{{$v}}{{end}}
From: {{.From}}
Subject: {{.Subject}}
{{.Header}}
You have initiated password reset.
Follow the link below to reset password.
{{.Content}}
{{.Footer}}

