Dear {{.User}},

We have received a request to reset your password for your account on {{.Host}}. To proceed with resetting your password, please click on the link below:

{{.Content}}

If you did not initiate this request, please disregard this message and your password will remain unchanged.

Thank you for using {{.Host}}.

Best regards,

{{.Footer}}
